:root{
    --kolor_body: url("svg/background.svg");
    --kolor_produkty_glowna: #ffffff;
    --kolor_paskow: #111111;
    --kolorPolaInput: #111111;
    --kolo_tekstu: #fafafa;
}
/* key elements */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
@font-face {
    font-family: Font1;
    src: url('summer-font/Summer-GpYG.otf');
}
@font-face {
    font-family: Font2;
    src: url('sunflower-font/Sunflower-lgZye.otf');
}
*{box-sizing: border-box; margin: 0;}
body{
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    background: #fbc936;
    background: var(--kolor_body);
    font-family:'Segoe UI'; 
    color: #0f0f0f;
    margin: 0;

}
a {text-decoration: none; color: #ff7300;}
.contener{
    padding-bottom: 2rem; 
    flex: 1;
}
.naglowek{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    align-items: center;
    padding: 10px;
    background-color: #111111;
}

/* ID's */
#panel{
    /* background-color: #72187e; */
    background-image: url("photos/wow.webp");
    text-align: center;
    width: 100%;
}
#panel_button{
    background-color: transparent;
    color: #f3f3f3;
    font-size: 1rem;
    transition: 0.7s;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

#zmien_dane_div{
    margin-top: 40px;
    text-align: center;
    padding: 10px;
    width: 100%;
    grid-area: 4 / 1 / 5 / 2;
}

#zmien_dane_button{
    background-color: #fbc936;
    border: 2px solid #070707;
    box-shadow: 3px 3px 1px #696464;
    border-radius: 3px;
    padding: 6px;
    width: 60%;
    transition: 0.7s;
    font-size: 20px;
    color: #131313;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s ease;
}
    #zmien_dane_button:hover{
        transform: scale(1.1);
        transition: 0.2s;
    }
#wymagania_hasla{
    display: inline-block;
    cursor: pointer;
    background-color: #ffe4c4;
    border: none;
    border-radius: 50px;
    font-size: 13px;
    font-weight: bold;
    color: #0a0a0a;
    width: 17px;
    text-align: center;
    margin-left: 5px;
}
    #wymagania_hasla:active{
        transform: scale(0.9);
    }

#alert_haslo{
    text-align: justify;
    background-color: #272727;
    box-shadow: 0 0 5px #444444;
    color: #f8f8f8;
    border: none;
    margin-top: 20px;
    border-radius: 7px;
    padding: 4px;
}
    #alert_haslo span:nth-child(1){font-size: 1.4rem;}

#przycisk_zapisz{
    width: 40px;
    padding: 10px;
    border-radius: 50px;
    font-size: 17px;
    background-color: transparent;
    border: none;
    text-align: center;
    margin-left: auto;
    cursor: pointer;
    margin-right: auto;
}
    #przycisk_zapisz:hover{
        transform: scale(0.9);
    }

#wyloguj{
    transition: 0.5s;
    background-color: transparent;
    border: none;
    font-size: 20px;
    width: 42px;
    height: 42px;
    font-weight: bold;
    align-items: center;
    text-decoration: none; 
    color: #f8f8f8;
    padding: 7px;
    cursor: pointer;
    transition: 1s;
}
#konto, #log_in, #wiadomosc, #koszyk{
    padding: 6px;
    transition: 1s;
}
    #wyloguj:hover, #konto:hover, #log_in:hover, #wiadomosc:hover, #koszyk:hover{
        transition: 0.8s;
        transform: rotate(360deg) scale(1.1);
    }


/* Classes */
.form-wyszukania{
    grid-area: 1 / 2 / 2 / 3; 
    width: 100%;
    height: auto;
}
.wyszukiwarka{
    font-size: 16px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;

}
.wyniki_wyszukiwania{
    text-align: center;
    opacity: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    background-color: #f8f8f8;
    width: 0;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 0.5s;
    border-collapse: collapse;
    z-index: 99;
    position: absolute;
    top: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    top: 76px;
}
    .wyszukiwanie_produkt{
        border: #e0e0e0 1px solid;
        align-items: center;
        padding: 5px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        transition: 0.3s;
    }
     .wyszukanie_prod_info{
        padding: 10px;
        font-size: 1.3rem;
     }
     .wyszukanie_prod_zdjecie{
        width: 100px;
        height: 100px;
     }

.dymek{
    border-radius: 22px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.form_dymek{
    justify-content:center;
    align-items: center; 
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.form_dymek label{
    font-weight: bold;
    font-size: 1.2rem;
}
.form_dymek input, .form_dymek textarea{
    width: 100%;
    font-size: 0.9rem;
}
.form_dymek div{text-align: center;}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #131313;
    background-color: #13131366;
}
.close_button {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close_button:hover,
  .close_button:focus {
    color: #0c0c0c;
    text-decoration: none;
    cursor: pointer;
  }


.zaloguj{
    margin-top: 30px;
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.zaloguj .divy{display: flex; flex-direction: row; justify-content: center; margin-bottom: 7px;}
.zaloguj .divy-grid{ display: grid; grid-template-areas: 'p p p p' 'label input input input'; padding-left: 25px; padding-right: 25px;}
.zaloguj .divy-grid p{ grid-area: p; font-size: 18px; padding-bottom: 10px;}
.zaloguj .divy-grid label{ grid-area: label; }
.zaloguj .divy-grid input{ grid-area: input; }
.zaloguj .divy label, .zaloguj .divy-grid label{
    padding: 8px;
    text-align: center;
    background-color: lightgray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.zaloguj .divy input, .zaloguj .divy-grid input{
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
}
.przycisk_zaloguj_zarejestruj{
    margin-top: 7px;
    background-color: #f7f7f7;
    box-shadow: 0 0 10px #0f0f0f;
    border: none;
    border-radius: 6px;
    width: 60%;
    color: #161616;
    height: 40px;
    font-size: 1rem;
    font-weight: bold;
    font-family: arial;
    transition: 0.5s;
    cursor: pointer;
}
    .przycisk_zaloguj_zarejestruj:hover{
        background-color: #8f8989;
        transition: 0.2s;
    }
    .przycisk_zaloguj_zarejestruj:active{
        transform: scale(0.9);
        transition: 0.5s;
    }
.inp_haslo{
    width: 160px;
}


.wyloguj{
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    column-gap: 20px;
    justify-content: right;
    padding-right: 14px;
}

.menu1{
    grid-area: 1 / 1 / 2 / 2;
    float: left;
}

.menu2{
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 0.1fr 4fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-family: Font2, "segoe ui";
    padding: 10px;
    width: 100%;
    height: 45px;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    transition: 1.1s;
    margin-left: auto;
    margin-right: auto;
}


.zdjecie_profilowe{
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    width: 140px;
    height: 140px;
}
.rejestracja{
    margin-top: 15px;
    padding: 20px;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
    .rejestracja p{ color: grey; }
    .rejestracja a{
        color: #f8f8f8;
        text-decoration: none;
        transition: 0.3s;
    }
    .rejestracja a:hover{
        color: #4dce02;
        font-size: 15px;
        transition: 0.3s;
    }

.pokaz_haslo{
    background-color: red;
}

.wrap-sign-up-in{
    background-color: #070707e5;
    width: fit-content;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;   
    padding: 10px;
    border-radius: 20px;
    border: solid 2px transparent;
    color: #f8f8f8;
    touch-action: manipulation;
    box-shadow: 0 0 20px black;
}





.wrap-sign-up-in input:focus{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='2' stroke-dasharray='18' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
    border: none;
    outline: none;
    stroke-dashoffset: 0;
    transition: 0.3s;
    animation: kropki_input 2s infinite;
    
}
@keyframes kropki_input {
    0%{background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='2' stroke-dasharray='18' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");}
    10%{background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='2' stroke-dasharray='18' stroke-dashoffset='10' stroke-linecap='butt'/%3e%3c/svg%3e");}
    20%{background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='2' stroke-dasharray='18' stroke-dashoffset='20' stroke-linecap='butt'/%3e%3c/svg%3e");}
    30%{background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='2' stroke-dasharray='18' stroke-dashoffset='30' stroke-linecap='butt'/%3e%3c/svg%3e");}
    40%{background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='2' stroke-dasharray='18' stroke-dashoffset='40' stroke-linecap='butt'/%3e%3c/svg%3e");}
    50%{background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='2' stroke-dasharray='18' stroke-dashoffset='50' stroke-linecap='butt'/%3e%3c/svg%3e");}
    60%{background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='2' stroke-dasharray='18' stroke-dashoffset='60' stroke-linecap='butt'/%3e%3c/svg%3e");}
    70%{background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='2' stroke-dasharray='18' stroke-dashoffset='70' stroke-linecap='butt'/%3e%3c/svg%3e");}
    80%{background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='2' stroke-dasharray='18' stroke-dashoffset='80' stroke-linecap='butt'/%3e%3c/svg%3e");}
    90%{background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='2' stroke-dasharray='18' stroke-dashoffset='90' stroke-linecap='butt'/%3e%3c/svg%3e");}
    100%{background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='2' stroke-dasharray='18' stroke-dashoffset='100' stroke-linecap='butt'/%3e%3c/svg%3e");}

}

.wrap-konta{
    display: block;
    background-color: #fafafa;
    width: 95%;
    box-shadow: 10px 10px 5px #111111;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;   
    padding: 50px;
    border-radius: 5px;
}


.aktualne_zamowienie_wglad{
    border: 3px solid #111111;
    background-color: #fafafa;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px;
    grid-area: 1 / 2 / 5 / 3;
    width: 100%;
    transition: 0.5s;
}
 .aktualne_zamowienie_wglad:hover{
   transition: 0.6s;
   border-top-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-top-right-radius: 20px;
   border-bottom-left-radius: 20px;
 }
  .aktualne_zamowienie_wglad a{ 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.5fr 2fr;
    grid-area: 1 / 1 / 2 / 3; 
    text-decoration: none; color: #111111;
}
    .first-aktualne-zamowienie{   
        grid-area: 1 / 1 / 2 / 3;
        padding: 10px;
    }
    .secound-aktualne-zamowienie{
        grid-area: 2 / 1 / 3 / 2;
        padding: 10px;
    }
    .third-aktualne-zamowienie{
        grid-area: 3 / 1 / 4 / 2;  
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        padding: 5px;
    }


.profil{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.8fr repeat(2, 1fr) 0.3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    .profil #div1{ grid-area: 1 / 1 / 2 / 2; }
    .profil #div2{ grid-area: 2 / 1 / 3 / 2; }
    .profil #div3{ grid-area: 3 / 1 / 4 / 2; }

.headerkonta{
    font-weight: bold;
    margin-right: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.info_profilu{
    min-width: 200px;
    width: fit-content;
}
    .info_profilu p {padding: 5px; border-bottom: #47474728 solid 1px; color: #111111;}

.form_konta{
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.3fr 1fr 0.2fr;
    grid-row-gap: 0;
    box-shadow: 10px 10px 5px #111111;
    background-color: var(--kolorPolaInput);
    border-radius: 7px;
    color: var(--kolo_tekstu);
    padding: 30px;
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.form_konta div{
    width: 60%; 
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
}
.form_konta div:nth-child(1){ grid-area: 1 / 1 / 2 / 3; height: fit-content; width: 80%; margin-bottom: 30px;}
    .form_konta div:nth-child(1) section:nth-child(2){ display: flex; flex-direction: row; gap: 30px; width:80%; margin-left: 0; margin-right: auto;} 
    .form_konta div:nth-child(1) section:nth-child(2) input{ width: 100%; }
.form_konta div:nth-child(2){ grid-area: 2 / 1 / 3 / 2; }
.form_konta div:nth-child(3){ grid-area: 2 / 2 / 3 / 3; }
.form_konta div:nth-child(4){ grid-area: 3 / 1 / 4 / 3; margin-top: 40px;}
 .form_konta div select{
    width: 60%;
 }
 .form_konta div button{
    width: 200px;
    background-color: #fbc936;
    color: #131313;
    border-radius: 3px;
    border: 2px solid #070707;
    box-shadow: 2px 2px 3px #f3f3f3;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: 1s;
    margin-top: 10px;
 }
    .form_konta div button:hover{
        transform: scale(1.1);
        border-radius: 20px;
        transition: 0.5s;
    }
    .form_konta div button:active{transform: scale(0.8);}
 .form_konta div input, .form_konta div select{
    width: 80%;
    font-size: 1.1rem;
    background: var(--kolorPolaInput);
    color: var(--kolo_tekstu);
    border: none;
    border-bottom: 2px solid var(--kolo_tekstu);
    outline: none;

 }
 /* above form */
#alert_form{
    width: fit-content;
    padding: 8px;
    opacity: 1;
    border-radius: 4px;
    color: var(--kolo_tekstu);
    box-shadow: 3px 3px 5px #111111;
    background-color: var(--kolorPolaInput);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

 
 /* animacja bordera input */
.form_konta div input:focus, .form_konta div select:focus, .menu2:focus{ --angle: 0deg; border-image: linear-gradient(var(--angle), rgb(248, 204, 8), rgb(185, 8, 255)) 1;
    animation: 4s rotate linear infinite;}
    @keyframes rotate {
        to {
          --angle: 360deg;
        }
    }
    @property --angle {
        syntax: '<angle>';
        initial-value: 0deg;
        inherits: false;
    }
/* ////////////////////////////////// */

/* animacja shaking tekst */
@keyframes padaka {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }

.shake{
    padding-top: 15px;
    animation: padaka 0.2s linear 3 both;
}

/* ////////////////////// */

/* animacja fadeout */
@keyframes fadeout {
    0%{ opacity: 1; }
    10%{ opacity: 0.9; }
    20%{ opacity: 0.8; }
    30%{ opacity: 0.7; }
    40%{ opacity: 0.6; }
    50%{ opacity: 0.5; }
    60%{ opacity: 0.4; }
    70%{ opacity: 0.3; }
    80%{ opacity: 0.2; }
    90%{ opacity: 0.1; }
    100%{ opacity: 0; }
}
/* ////////////////////////// */
.footer{
    width: 100%;  
    height: 20%;
    background-color: #111111;
    background-color: var(--kolor_paskow);
    display: flex;
    flex-direction: row;
}
    .footer div{
        font-family: Font2, "segoe ui";
        font-size: 20px;
        width: 33%;
        padding: 20px;
        color: #f8f8f8;
        border-left: 1px solid #111111;
        border-left: 1px solid #1f1f1f;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
        .footer div a{
            color: #f8f8f8;
            text-decoration: none;
            height: 28px;
            width: fit-content;
            cursor: pointer;
        }
        .footer div img{
            cursor: pointer;
        }
        .footer #footer_div_1 img{ width: 100px; height: auto;}


.menu_panelu{
    background-color: #191919;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    color: #f8f8f8;
}
.menu_panelu input:focus, .menu_panelu textarea:focus, .menu_panelu select:focus{
    background-color: #fff5d5;
    outline: #d1b82b 1px solid;
    outline-offset: -1px;
    border-radius: 2px;
}
    .menu_panelu #panel1{
        flex: 22.5%;
        text-align: center;
    }
    .menu_panelu #panel2{
        flex: 15%;
        text-align: center;
    }
    .menu_panelu #panel3{
        flex: 22.5%;
        text-align: center;
    }
    .menu_panelu #panel4{
        flex: 40%;
        text-align: center;
    }


.panel{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}
.panel h3{
    background-color: #dbdbdb;
    color: #131313;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    cursor:default;
    justify-content: center;
    padding: 2px;
}
.panel:last-child h3{background: transparent;}
.form_panel{
    color: black;
    padding: 5px;
    background-color: #dbdbdb;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.form_panel input, .form_panel select{
    width: 100%;
    border: 1px #a8a8a8 solid;
    border-radius: 0;
    margin-left: auto;
    margin-right: auto;
}
.form_panel input[type=file]{border: none;}
.zielony_przycisk, .czerwony_przycisk{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    height: 4vh;
    width: 50%;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 1rem;
    color: #f3f3f3;
    transition: 0.5s;
}
    .zielony_przycisk{
        background-color: #73b410;
    }
    .zielony_przycisk:hover{
        background-color: #5c910d;
        transition: 0.5s;
    }
    .zielony_przycisk:active{
        transform: scale(0.9);
    }
    .czerwony_przycisk{
        background-color: #af0900;
        transition: 0.5s;
    }
    .czerwony_przycisk:hover{
        background-color: #830701;
        transition: 0.5s;
    }
    .czerwony_przycisk:active{
        transform: scale(0.9);
    }
.rozmiary{
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 0px;
}
.rozmiary label{
    width: fit-content;
}
.rozmiary input{
    width: 100%;
}
.tabela_produktow{
    color: #111111;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #000000b7;
    padding: 3px;
    margin: 2px;
    font-size: 16px;
    font-weight: bold;
    border-collapse:collapse;
}
.tabela_produktow tr td{
    border: 1px solid #000000b7;
    font-size: 14px;
    font-weight: bold;
    border-collapse:collapse;
    width: max-content;
}
.tabela_produktow th{
    padding: 4px;
    background-color: #c7c7c7;
    
}
.lista_produktow{
    display:flex; 
    flex-direction:row; 
    gap:2%; 
    justify-content:center;
}
.lista_produktow h3{ color: #f5f5f5;}

.button_refresh{
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}
    .button_refresh:hover{
        transition: 0.2s;
        transform: scale(1.1);
    }
.error{
    position: fixed;
    background-color: #d41a1aec;
    padding: 20px;
    width: max-content;
    border-radius: 10px;
    bottom: 10px;
    left: 10px;
    transition: 1s;
}
.success{
    position: fixed;
    background-color: #4bcc18ec;
    padding: 20px;
    width: max-content;
    border-radius: 10px;
    bottom: 10px;
    left: 10px;
    transition: 1s;
}
.showcase{
    overflow: hidden;
    width: 100%;
    min-height: 200px;
    height: max-content;
    background-color: #f7f7f7;
    background-color: var(--kolor_produkty_glowna);
    backdrop-filter: blur(4px);
    padding: 12px;

    border-radius: 10px;
}
.showcase_tytul{
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.showcase_flex{
    display: flex;
    flex-direction: row;
    gap: 3%;
}
.showcase_flex_nazwa{
    font-size: 1.4rem;
}
.showcase_flex_cena{
    font-size: 0.9rem;
    font-weight: bold;
}
.showcase_flex div{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: left;
}
.showcase_flex div img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
/* .lista_produktow_poziom{

} */
.grid_produkt{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 0.2fr repeat(2, 1fr);
    grid-template-rows: 1fr 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #f5f5f5;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
}
#prod{
    width: 400px;
    height: auto;
}
/* wyswietlenie zdjecia na caly ekran */

.full-screen {
    position: fixed;
    animation: go-full-screen forwards 500ms ease-in-out;
    inset: var(--inset);
}

.shrink-down {
    animation: go-full-screen reverse backwards 500ms ease-in-out !important;
  }
  
  @keyframes go-full-screen {
    from {
      inset: var(--inset);
    }
    to {
      height: 100%;
      width: 100%;
      inset: 0;
    }
  }
/* /////////////// */

.grid_produkt #div1{
    position: relative;
    grid-area: 1 / 2 / 2 / 3; 
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: auto;
    overflow: hidden;
}
.grid_produkt #div2{
    grid-area: 1 / 1 / 2 / 2;
    width: fit-content;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}
.grid_produkt #div3{
    position: relative;
    grid-area: 1 / 3 / 2 / 4;
    margin-left: 3%;
    width: 60%;
}
.grid_produkt #div3 form{
    display: flex;
    flex-direction: column;
}
.grid_produkt #div3 #nazwa{
    font-size: 44px;
}
.grid_produkt #div3 #cena{
    font-size: 30px;
    padding-bottom: 15%;
}
.grid_produkt #div3 #ilosc{
    font-size: 18px;
    padding-bottom: 5%;
}
.grid_produkt #div3 #rozmiar{
    font-size: 17px;
    height: auto;
    width: max-content;
    text-align: center;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    padding: 5px;
}

/* ///////| Produkt zoom |\\\\\\\\\ */
 #div1 img {
    transform-origin: center center;
    object-fit: cover;
    cursor: zoom-in;
}



.button_kup, .button_podsumowanie{
    margin-top: 10%;
    width: 80%;
    height: 6vh;
    font-size: 1.1rem;
    background-color: #c4c4c4;
    color: #303030;
    border-radius: 3px;
    box-shadow: 3px 3px 1px #0000004b;
    cursor: pointer;
    transition: 0.3s;
}

    .button_kup:hover{
        background-color: #fbc936;
        box-shadow: 3px 3px 2px #1a1a1a;
        border: 2px solid #070707;
        color: #131313;
        transform: scale(1.1);
        transition: 0.3s;
    }

.grid_produkt #div4{
    grid-area: 2 / 1 / 3 / 4;
    width: 93%;
    border-top: solid 2px #070707;
    margin-top: 2%;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;

}
.grid_produkt #div4 p{
    text-align: justify;
}

.pick_pic{
    cursor: pointer;
    transition: 0.2s;
    opacity: 1;
}
.pick_pic:hover{
    opacity: 0.7;
}
.pick_pic:active{
    transform: scale(0.9);
    transition: 0s;
}
.podobne_produkty {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    padding: 10px;
    background-color: #f5f5f5;
}
.podobne_produkty #tytul_polecane{
    font-size: 1.7rem;
    text-align: center;
    padding: 5px;
}
.podobne_produkty .button_prev{
    position: absolute;
    top:50%;
    width: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto;
    background-color: #f5f5f5;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.podobne_produkty .button_prev:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
.podobne_produkty .button_prev:active{
    transition: 0.2s;
    transform: scale(1);
}
.podobne_produkty .button_next{
    position: absolute;
    top:50%;
    left: calc(100vw - 60px);
    width: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto;
    background-color: #f3f3f3;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.podobne_produkty .button_next:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
.podobne_produkty .button_next:active{
    transition: 0.2s;
    transform: scale(1);
}
.podobne_produkty ul{
    position: relative;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    gap: 10px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.podobny_produkt_zdjecie{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.kontakt{
    background-color: #ffffffe5;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
    .kontakt div textarea{
        margin-top: 5px;
        font-size: 1.1rem;
        border: none;
        outline: none;
    }
    .kontakt div textarea:focus{
        background-color: #fff5d5;
        outline: #d1b82b 1px solid;
        outline-offset: -1px;
        
    }
    .kontakt div label{font-size: 1em;}
    .kontakt #wiad{
        width:100%;
        margin-left:auto; 
        margin-right:auto;
    }
    .kontakt  div  { display: block;  grid-area: 3 / 1 / 4 / 3; }
    .kontakt  button  { 
        display: block;  
        grid-area: 4 / 1 / 5 / 3; 
    }
.grid_kontakt{
    display: grid;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 10px;
    font-size: 1.1em;
}    
    .grid_kontakt  div:nth-child(1) { display: block; grid-area: 1 / 1 / 2 / 2; }
    .grid_kontakt  div:nth-child(2)  { display: block; text-align: right;  grid-area: 1 / 2 / 2 / 3; }
    .grid_kontakt  div:nth-child(3)  { display: block; grid-area: 2 / 1 / 3 / 2; }
    .grid_kontakt  div:nth-child(4)  { display: block; text-align: right;  grid-area: 2 / 2 / 3 / 3; }

    .grid_kontakt  div input{
        background: transparent;
        margin-top: 5px;
        width: 100%; 
        height: 6vh; 
        font-size: 1.2rem; 
        border: none;
        border-bottom: #111 solid 2px;
        outline: none;
    }
/* ////////////////////////////////| KOSZYK/PODSUMOWANIE |\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.wiadomosc_koszyk_pusty{
    text-align: center;
    color: #fdfdfd;
    background-color: #111;
    padding: 8%;
    margin: 2%;
}
.wiadomosc_koszyk_pusty h3{height: 32px;}
.wiadomosc_koszyk_pusty a{
    color: #fdfdfd;
    text-decoration: none;
    transition: 0.9s;
}
.wiadomosc_koszyk_pusty a:hover{ font-size: 1.3rem; transition: 0.5s; color: #fbc936; }
.wiadomosc_koszyk_pusty a:active{ font-size: 1rem; transition: 0.2s; }
.order{
    display: grid;
    background-color: #f9f9f9;
    grid-template-columns: 1.7fr 1fr;
    grid-template-rows: auto 1fr; 
}
.order_naglowek{
    grid-area: 1 / 1 / 2 / 3;
    position:relative;
    background-color: #151515;
    color: #f9f9f9;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 10px;
    justify-content: center;
    font-size: 1.7rem;
}

    .left_order{
        width: 100%;
        grid-area: 2 / 1 / 3 / 2;
    }   
    .left_item_order{
        display: flex;
        flex-direction: row;
        background: #f9f9f9;
        padding: 30px;
        width: 100%;
        gap: 20px;
    }

    .left_item_order_checkout{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 0.5fr 1fr; 
        background: #f9f9f9;
        padding: 30px;
        padding-bottom: 0px;
        width: 100%;
    }
        .left_item_order_checkout, .left_item_order_checkout_options .title{ 
            grid-area: 1 / 1 / 2 / 2;
            margin-bottom: 15px;
            color: #0a0a0a;
            font-size: 1.4rem;
            font-weight: 600;
        }
        .left_item_order_checkout .name{ 
            grid-area: 2 / 1 / 3 / 2;
            color: #111111;
            font-size: 1rem;
            padding-left: 20px;
            padding-bottom: 5px;
        }
        .left_item_order_checkout .address{
            grid-area: 3 / 1 / 4 / 2;
            color: #424242;
            font-size: 0.8rem;
            padding-left: 20px;
        }
        

    .koszyk_informacje{
        width: 35%;
    }
    .koszyk_informacje a{ font-weight: bold; color: black; text-decoration: none; }
    .koszyk_informacje p{ cursor: default; }
    .koszyk_sztuki{
        width: 20%;
        text-align: center;
    }
    .left_item_order form{
        display: flex;
        width: max-content;
        justify-items: center;

    }
    .left_item_order form button{
        cursor: pointer;
        width: 32px;
        height: 32px;   
        background: transparent;
        font-size: 1.7rem;
        border: none;
    }

.right_order{
    width: 100%;
    grid-area: 2 / 2 / 3 / 3; 
    height: max-content;
    position: sticky;
    top: 0;
    padding: 10px;
}
    .kurier_listy{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }


.lista_kurierow{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.left_item_order_checkout_options{
    display: flex; 
    flex-direction: column;
    background: #f9f9f9;
    padding: 30px;
    padding-bottom: 0px;
    width: 100%;
}
    .checkout_choice_main{
        display: grid;
        grid-template-columns: 0.5fr 0.7fr 2fr;
        grid-template-rows: 0.5fr 2fr;
    }
    .checkout_choice_left{
        grid-area: 1 / 1 / 2 / 2;
    }
    .checkout_choice_img{
        grid-area: 1 / 2 / 2 / 3;
    }
    .checkout_choice_right{
        grid-area: 1 / 3 / 2 / 4;
    }
    .checkout_choice_bottom{
        grid-area: 2 / 1 / 3 / 4;
    }
    .left_item_order_checkout_options_title{
        margin-bottom: 15px;
        color: #0a0a0a;
        font-size: 1.1rem;
        font-weight: 600; 
    }














/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ loading screen //////////////////////////////////*/
.lds-ellipsis {
    display: inline-block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
  }
  @keyframes lds-ellipsis2 {
    0% {transform: translate(0, 0);}
    100% {transform: translate(24px, 0);}
  }
  @keyframes lds-ellipsis3 {
    0% {transform: scale(1);}
    100% {transform: scale(0);}
  }

/* /loading */


/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ mobile //////////////////////////////////////////////////////////////////////*/

@media only screen and (max-width: 1100px) {
    .panel:last-child{margin-top: 40px;}
    .wyniki_wyszukiwania{flex-direction: column;}
    .showcase_flex div img{width: 260px; height: 260px;}
    .showcase_flex_nazwa{font-size: 1.3rem;}
    .showcase_flex_cena{font-size: 0.8rem;}
    .linki{font-size: 14px; padding: 6px;} 

}
@media only screen and (max-width: 929px) {
    .podobny_produkt_zdjecie{
        width: 200px;
        height: 200px;
    }
}
@media only screen and (max-width: 768px) {
    .linki {padding: 0 60px;}
    .showcase_flex div img{width: 170px; height: 170px;}
    .showcase_flex_nazwa{font-size: 1.1rem;}
    .showcase_flex_cena{font-size: 0.9rem;}
}

@media only screen and (max-width: 770px){
    .zaloguj{width: 230px;}
    .wrap-sign-up-in:after{display: block; height: 310px; width: 250px;}
    .showcase_flex div img{width: 150px; height: 150px;}
    .showcase_flex_nazwa{font-size: 1rem;}
    .showcase_flex_cena{font-size: 0.8rem;}
    .menu2{ grid-area: 2 / 1 / 3 / 4; width: 90%;}
    .wyniki_wyszukiwania{position:absolute; top: 132px;}
    .grid_produkt{
        display: grid; 
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto repeat(2 1fr);
    }
    .grid_produkt #div1{ grid-area: 1 / 1 / 2 / 2; }
    .grid_produkt #div2{ 
        grid-area: 2 / 1 / 3 / 2;  
        flex-direction: row; 
        align-items: center; 
        margin-left: auto; 
        margin-right: auto;
    }
    .grid_produkt #div3{ grid-area: 3 / 1 / 4 / 2; margin-left: auto; margin-right: auto; }
    .grid_produkt #div3 form{ align-items: center; text-align: center;}
    .grid_produkt #div4{ grid-area: 4 / 1 / 5 / 2; width: fit-content;}
    #prod{ width: 300px; }
    .grid_produkt #div4 h2{ text-align: center; }
    .footer #footer_div_1{ width: fit-content; }
    .footer #footer_div_2{ width: 60%; }
    .footer #footer_div_3{ width: 20%; justify-content: center;}
    .footer div{ font-size: 18px; }
    .footer #footer_div_1 img{ width: 70px; height: auto;}
    .showcase_flex{ 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 0.5fr;
        gap: 30px;
    }
    .showcase_tytul{ font-size: 2.2rem; }
    .showcase_flex div p{ font-size: 1.1rem; }
    .showcase_flex div{ height: fit-content; }
    .showcase_flex div:nth-child(1){ grid-area: 1 / 1 / 2 / 3; }
    .showcase_flex div:nth-child(1) img{ width: 250px; height: 250px;}
    .showcase_flex div:nth-child(2){ grid-area: 2 / 1 / 3 / 2; }
    .showcase_flex div:nth-child(3){ grid-area: 2 / 2 / 3 / 3; }
    .naglowek{ grid-template-rows: repeat(2, 1fr); grid-row-gap: 10px; }
    
}
